.sidebar {
  flex: 0 0 200px;
  height: 80vh;
  position: sticky;
  top: 0;
  left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem 0;
  z-index: 100;
}

.sidebar-btn {
  line-height: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  padding: 1rem;
  background: none;
  border: none;
  text-align: left;
  font-weight: normal;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;
}

.sidebar-btn.active {
  background: #323232;
  font-weight: bold;
}

.sidebar-btn:hover {
  color: inherit;
}
